chumpy @ git+https://github.com/mattloper/chumpy.git@580566eafc9ac68b2614b64d6f7aaa84eebb70da
contourpy==1.3.3
cycler==0.12.1
filelock==3.20.1
fonttools==4.61.1
freetype-py==2.5.1
fsspec==2025.12.0
imageio==2.37.2
jinja2==3.1.6
kiwisolver==1.4.9
markupsafe==3.0.3
matplotlib==3.10.8
mpmath==1.3.0
networkx==3.6.1
numpy==2.3.5
open3d-python==0.3.0.0
packaging==25.0
pillow==12.0.0
pip==25.3
pyglet==1.5.31
pyopengl==3.1.0
pyparsing==3.2.5
pyrender==0.1.45
python-dateutil==2.9.0.post0
scipy==1.16.3
setuptools==80.9.0
shapely==2.1.2
six==1.17.0
smplx==0.1.28
sympy==1.14.0
torch==2.9.1
trimesh==4.10.1
typing-extensions==4.15.0
